@charset "UTF-8";
body{
	margin-top: 25px;
}
nav.navbar.navbar-default.navbar-fixed-top {
	background-color: #fff;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
.navbar-fixed-top .nav {
    padding: 15px 0;
}
@media (max-width: 767px) { 
    .navbar-brand {
        padding: 0;        
    }

    .navbar-brand img {
        margin-top: 5px;
        margin-left: 5px;
    }
}

.tagline{
	margin-top: 100px;
	text-align: center;
}

span.glyphicon {
    font-size: 2.5em;
}

.iconbg{
	width: 125px;
	height: 125px;
	background-color: #e86024;
	margin: 0 auto;
	padding: 17px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

a {
	color: #00719e;
}
.center {
	color: #e86024;
	padding: 20px;
	/*****BORDER RADIUS*****/
	background-color: rgba(255,255,255,0.99);
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
	/*****BOX-SHADOW*****/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}
